@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background: #c25100;
  background-size: cover;
  background-repeat: none;
}
.blue{
  background: #074591;
}
.green{
 background: #098D1F;

}
.shadowleft{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.clipped-bg {
  clip-path: polygon(0 0, 100% 5%, 100% 96%, 0% 100%);
  background-color: #002f69; /* Example background color */
}
.clipped-bg-yellow{
  clip-path: polygon(3% 0, 100% 6%, 100% 91%, 0% 100%);
}
.clipped-bg-blue{
  clip-path: polygon(0 0, 100% 6%, 97% 93%, 3% 100%);


 
  background-color: #0555b6;
  ;
}
.clipped-bg-yellow2{
  clip-path: polygon(1% 6%, 100% 3%, 100% 100%, 0 96%);

}
h2 {
  @apply text-xl md:text-4xl;
}

p {
  @apply text-xl tracking-tight leading-relaxed;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.bg-yellow{
  background-color: #FF981C;
}

#style-2::-webkit-scrollbar-track
{
	
	
	background-color:rgba(0, 0, 0, 0.315);
  border-radius: 10px;
 
  
}


#style-2::-webkit-scrollbar
{
  
	width: 10px;
	background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb
{
	
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fc6901;
  background-image: linear-gradient(to bottom, #fc6901, #ff981c);
  height: 60px;
  border-radius: 25px;
  
  
}

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}

.float-animation-1 {
  animation: float 4s ease-in-out infinite;
}

.float-animation-2 {
  animation: float 5s ease-in-out infinite;
}

.float-animation-3 {
  animation: float 6s ease-in-out infinite;
}

.float-animation-4 {
  animation: float 7s ease-in-out infinite;
}
.shadows{
  box-shadow: rgba(0, 0, 0, 0.682) 0px 5px 15px;
}
.darkblue{
  background-color: #0D1F42;
}

.clip{
  clip-path: polygon(0 0, 100% 1%, 98% 96%, 3% 100%);

}